html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }

.btnRegistrarse{
    background-color: #15A749;
}
/* ==========================================================================
   #TYP
   ========================================================================== */
html,body {
    font-family: 'Raleway', sans-serif;  
}
._header {
    background: #15A749;
    padding: 100px 15px;
    text-align: center;
    border-radius: 20px;
}

.thankyou-page ._header .logo {
    max-width: 300px;
    margin: 0 auto 0px;
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: white;
    margin: 0;
}
.thankyou-page ._body {
    margin: -70px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
   
}
.thankyou-page ._body ._box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #4ab74a;
}
.thankyou-page ._footer {
    text-align: center;
    padding: 30px 30px;
}

.thankyou-page ._footer .btn {
    background: #4ab74a;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}

._footer2{
    background-color: #1A1A1A;
    border-radius: 20px;
    position: center;
    height: 300px;
    margin-top: 30px;
}

.logofooter{
    position: relative;
    top: 15px;
    left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 0px){
    .logofooter{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 20px;
    }
}

.pay{
    width: min-content;
    position: relative;
    left: 30%;
    bottom: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow{
    width: min-content;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(195, 188, 188);
    position: relative;
    left: 40%;
    bottom: 80%;
}

.media{
    width:fit-content;
    height: min-content;
    position: relative;
    left: 33.3%;
    bottom: 70%;
}

.info{
    width:fit-content;
    height: min-content;
    position: relative;
    left: 65%;
    bottom: 115%;
    color: azure;
}